<div ng-switch="isAuthenticated()">
    <div class="participant-detail {{ getStyleOfParticipant(participant) }}" ng-switch-when="true">
        <div class="participant-summary">
            <div class="inner">
                <span class="unit">
                    <i class="participant-icon"></i>
                </span>
                <h2>{{ getTitleOfParticipant(participant) }}</h2>
                <b class="expenditure" ng-show="summary.totalExpenditure !== undefined">
                    {{-summary.totalExpenditure | numberIn10K : 2 }}
                </b>
                <b class="income" ng-show="summary.totalIncome !== undefined">
                    {{summary.totalIncome | numberIn10K : 2 }}
                </b>
            </div>
        </div>
        <div class="participant-group">
            <ul>
                <li ng-repeat="detail in moneyFlowDetail" class="participant-grouped-entry">
                    <div class="inner" ng-class="{'income': detail.amount > 0, 'expenditure': detail.amount < 0}">
                        <span class="unit"></span>
                        <span class="group">{{detail.subGroup}}</span>
                        <span class="date">{{detail.date}}</span>
                        <span class="amount">{{detail.amount | number : 2}}</span>
                        <span class="remarks">{{detail.remarks}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
        If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
    </div>
</div>
