<div ng-cloak>
    <div ng-switch="isAuthenticated()">
        <div ng-switch-when="true" translate-values="{username: '{{account.login}}'}">
            <!--slider-->
            <div class="yxslider">
                <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
            </div>
            <!--flow-->
            <div class="yxflow">
                <h2 class="left-focus">现金流向</h2>
                <linked-bubble data="bubbleData"></linked-bubble>
            </div>

            <!--tab-->
            <div class="yxtab">
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab ng-repeat="tab in tabs" index="{{$index}}">
                        <uib-tab-heading>
                            <span class="tabhead">
                                {{tab.head}}
                            </span>
                        </uib-tab-heading>
                        <nvd3 options="tab.chart.options" data="tab.chart.data"></nvd3>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
            If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
        </div>
    </div>
</div>
