.yxslider rzslider .rz-bar {
    height: 2px;
}
.yxslider rzslider .rz-ticks .rz-tick {
    width: 2px;
    height: 6px;
    border-radius: 0;
    position: relative;
    top: 3px;
}
.yxslider rzslider .rz-pointer {
    top: -9px;
    width: 20px;
    height: 20px;
}
.yxslider rzslider .rz-pointer:after {
    top: 6px;
    left: 6px;
}
.yxcanvas {
    width: 100%;
    min-height: 400px;
}
.tab-content {
    position: relative;
    height: 400px;
}
.tab-content > .tab-pane {
    display: block !important;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all .6s;
    width: 100%;
    height: 400px;
    position: absolute;
}
.tab-content > .active {
    visibility: visible;
    opacity: 1;
}
.well {
    padding: 10px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
body >.container {
    padding: 0 10px;
}
.left-focus {
    margin: 10px 0;
    font-size: 26px;
    height: 26px;
    line-height: 26px;
    position: relative;
    padding-left: 15px;
}
.left-focus.primary:before ,
.left-focus.secondary:before {
    position: absolute;
    content: ' ';
    display: inline-block;
    border-left: 8px solid #0db9f0;
    height: 26px;
    left: 0;
}
.left-focus.secondary:before {
    border-color: #666;
}
@media (max-width: 750px) {
    .yxflow >h2 {
        text-align: center;
    }
}
@media (max-width: 360px) {
    .tab-content > .tab-pane {
        height: 240px;
    }
}

/* TODO: refactor these styles from d3 examples. */
path.link {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

path.link.twofive {
  opacity: 0.4;
}

path.link.fivezero {
  opacity: 0.6;
}

path.link.sevenfive {
  opacity: 0.8;
}

path.link.onezerozero {
  opacity: 1.0;
}

text.edgelabel.twofive {
  opacity: 0.7;
}

text.edgelabel.fivezero {
  opacity: 0.8;
}

text.edgelabel.sevenfive {
  opacity: 0.9;
}

text.edgelabel.onezerozero {
  opacity: 1.0;
}

/* CUSTOM
 * > Main-detail.css 
 */
    li {
        list-style: none;
    }
    .participant-detail ul, 
    .participant-detail li {
        margin: 0;
        padding: 0;
    }
    .participant-detail {
        padding-left: 20px;
    }
    .participant-detail span.unit {
        display: block;
        position: absolute;
        left: -39px;
        top: 50%;
        margin-top: -9px;
        width: 18px;
        height: 18px;
        border-radius: 100%;
    }
    .participant-summary h2 {
        display: inline-block;
        font-size: 14px;
        max-width: 62px;
        word-break: break-all;
        margin: 0 10px 0 0;
    }
    .participant-summary span.unit {
        width: 40px;
        height: 40px;
        left: -50px;
        margin-top: -20px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 18px;
    }
    .participant-summary i.participant-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        vertical-align: text-bottom;
    }
    .participant-summary b {
        font-size: 20px;
        display: inline-block;
        margin-right: 15px;
    }
    .participant-summary b >span {
        font-size: 13px;
    }
    .participant-summary ,
    .participant-group li {
        padding-left: 30px;
        border-left: 1px dashed #666;
    }
    .participant-summary .inner ,
    .participant-group li .inner {
        position: relative;
        border-bottom: 1px solid #666;
        height: 40px;
        line-height: 40px;
        white-space: nowrap;
    }
    .participant-grouped-entry .inner >span {
        display: inline-block;
        margin-right: 10px; 
    }
    .participant-grouped-entry .inner >span.group {
        min-width: 60px;
    }
    .participant-grouped-entry .inner >span.amount {
        min-width: 110px;
        text-align: right;
    }
    .participant-default-style b.income {
        color: #009dd9;
    }
    .participant-default-style span.unit {
        background: #009dd9;
    }
    .participant-default-style b.expenditure {
        color: #f16363;
    }
    .participant-default-style .expenditure span.unit {
        background-color: #f16363;
    }
    .participant-default-style i.participant-icon {
        /*FIXME: Different image icon.*/
        background-image: url(../images/p-default.png);
    }
    .orangeGreenStyle b.income {
        color: #0c0;
    }
    .orangeGreenStyle span.unit {
        background-color: #0c0;
    }
    .orangeGreenStyle b.expenditure {
        color: #f90;
    }
    .orangeGreenStyle .participant-summary span.unit {
        background: #f90;
    }
    .orangeGreenStyle .expenditure span.unit {
        background: #f90;
    }
    .orangeGreenStyle i.participant-icon {
        /*FIXME: Different image icon.*/
        background-image: url(../images/p-yellowgreen.png);
    }
    @media (max-width: 750px) {
        .participant-grouped-entry .inner >span {
            font-size: 13px;
        }
    }
    @media (max-width: 320px) {
        .participant-grouped-entry .inner >span {
            font-size: 12px;
        }
    }

/* CUSTOM
 * > indices.css 
 */
    .indices.box {
        
    }
    .indices.box ul ,
    .indices.box li  {
        margin: 0;
        padding: 0;
        outline: none;
    }
    .indices.box ul {
        overflow: hidden;
    }
    .indices.box li {
        float: left;
        width: 33.3%;
        text-align: center;
    }
    .indices.box li.active {
        color: #0db9f0;
    }
    .indices.box li >div {
        border-left: 1px solid #666;
        margin-left: -1px;
    }
    .indices.box li b {
        font-size: 1.6em;
    }
    .yx-indices-chart {
        padding: 20px 0;
        height: 400px;
    }
    @media (max-width: 360px) {
        .yx-indices-chart {
            height: 240px;
        }
    }
