<div ng-switch="isAuthenticated()">
    <!--Drivers-->
    <div ng-switch-when="true" translate-values="{username: '{{account.login}}'}">
        <div class="yxslider">
            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
        </div>

        <div class="yx-indices">
            <div class="yx-indices-primary" ng-show="primary.length > 0">
                <h2 class="left-focus primary">发布指标</h2>
                <div class="box indices">
                    <ul>
                        <li ng-repeat="index in primary" ng-click="switchChart(index)"
                            ng-class="{active: isChartActive(index)}">
                            <div>
                                <h5>{{index.name}}</h5>
                                <p>
                                    <b>{{index.data.length}}</b>
                                    <span>{{index.valueUnit}}</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="yx-indices-secondary" ng-show="secondary.length > 0">
                <h2 class="left-focus secondary">参考指标</h2>
                <div class="box indices">
                    <ul>
                        <li ng-repeat="index in secondary" ng-click="switchChart(index)"
                            ng-class="{active: isChartActive(index)}">
                            <div>
                                <h5>{{index.name}}</h5>
                                <p>
                                    <b>{{index.data.length}}</b>
                                    <span>{{index.valueUnit}}</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="yx-indices-chart">
            <nvd3 options="chart.options" data="chart.data"></nvd3>
        </div>
    </div>
    <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
        If you want to <a class="alert-link" href="#/login">sign in</a>.
    </div>
</div>
