<div>
    <h2 translate="bamaiApp.moneyFlow.home.title">MoneyFlows</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="moneyFlow.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="bamaiApp.moneyFlow.home.createLabel">Create new MoneyFlow
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="source"><span translate="bamaiApp.moneyFlow.source">Source</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dest"><span translate="bamaiApp.moneyFlow.dest">Dest</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span translate="bamaiApp.moneyFlow.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="bamaiApp.moneyFlow.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subGroup"><span translate="bamaiApp.moneyFlow.subGroup">SubGroup</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span translate="bamaiApp.moneyFlow.comment">Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="moneyFlow in moneyFlows track by moneyFlow.id">
                    <td><a ui-sref="moneyFlow.detail({id:moneyFlow.id})">{{moneyFlow.id}}</a></td>
                    <td>{{moneyFlow.source}}</td>
                    <td>{{moneyFlow.dest}}</td>
                    <td>{{moneyFlow.amount}}</td>
                        <td>{{moneyFlow.date | date:'mediumDate'}}</td>
                    <td>{{moneyFlow.subGroup}}</td>
                    <td>{{moneyFlow.comment}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="moneyFlow.detail({id:moneyFlow.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="moneyFlow.edit({id:moneyFlow.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="moneyFlow.delete({id:moneyFlow.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
