
<div>
    <h2><span translate="bamaiApp.moneyFlow.detail.title">MoneyFlow</span> {{moneyFlow.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="bamaiApp.moneyFlow.source">Source</span>
                </td>
                <td>
                    <span class="form-control-static">{{moneyFlow.source}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="bamaiApp.moneyFlow.dest">Dest</span>
                </td>
                <td>
                    <span class="form-control-static">{{moneyFlow.dest}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="bamaiApp.moneyFlow.amount">Amount</span>
                </td>
                <td>
                    <span class="form-control-static">{{moneyFlow.amount}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="bamaiApp.moneyFlow.date">Date</span>
                </td>
                <td>
                    <span class="form-control-static">{{moneyFlow.date | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="bamaiApp.moneyFlow.subGroup">SubGroup</span>
                </td>
                <td>
                    <span class="form-control-static">{{moneyFlow.subGroup}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="bamaiApp.moneyFlow.comment">Comment</span>
                </td>
                <td>
                    <span class="form-control-static">{{moneyFlow.comment}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
